.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.deploybutton {
  background-color: #00b1a3;
  padding-left: 7.25rem;
  padding-right: 7.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 600;
  color: #292929;
  transition: 300ms;
}

.deploybutton:hover {
  background-color: #3cbdb2;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
